@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{
    font-family: "Work Sans", sans-serif;
    box-sizing: border-box;
}


.active {
    color: #FCB543;
}

.dropDown:hover + .dropMenu{
    display: block;
    position: absolute;
    top: -40px
}

.relative:hover .overlay{
    background-color: #ffffff7a;
}

.slider {
    -webkit-appearance: none;
    background-color: black;
    height: 2px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #FCB543;
    cursor: pointer;
    border-radius: 50%;
  }

  thead th{
    background-color: white !important;
    color:black !important;
    font-weight: 700 !important;
  }
  tr{
    background-color: #F5F5F5 !important;
    color: black
  }

  #checkoutForm input, textarea{
    padding: 13px;
    font-size: 14px;
    outline: 0px;
    background-color: #F5F5F5;
    border: 1px solid gray;
    margin: 5px 0px 15px;
  }